.main-about-container {
    margin-left: 260px;
    height: calc(100vh - 200px);
   
}

.about-container {
    height: 245px;
    margin-left: 150px;
    margin-right: 20px;
    font-size: larger;
    overflow-y: auto;
    display: grid;
    grid-template-columns: 1fr; /* 1fr for text, auto for image */
    grid-gap: 10px;
}

.drop {
    height: 10px;
    width: 2px;
    background-color: rgb(40, 40, 126);
    position: absolute;
}
.drops-container {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    pointer-events: none;
}


@keyframes dropAnimation {
    0% {
        top: -10px;
    }
    100% {
        top: 100vh;
    }
}

@media (max-width: 600px) {
    .main-about-container {
        margin-top: 50px;
        margin-left: 50px;
        height: calc(100dvh - 150px * 2.5);
    }

    .about-container {
        height: 245px;
        margin-left: 50px;
        margin-right: 10px;
        font-size: large;
        overflow-y: auto;
    }
}
