.main-contact-container {
    margin-left: 260px;
    height: 300px;
}
.main-form-container {
    height: 100%;
    width: 500px;
    margin-left: 150px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    border: 1px solid black;
    position: relative;
    border-radius: 10px;
}

.form-container {
    display: flex;
    flex-direction: column;
    padding: 30px;
    height: 100%;
    position: relative;
    z-index: 0;
}

.input-box {
    margin: 10px;
    padding: 10px;
    background-color: transparent;
    border: 1px solid black;
    color: white;
    font-weight: 900;
}

.tet-box {
    margin: 10px;
    height: 100%;
    padding: 10px;
    background-color: transparent;
    border: 1px solid black;
    color: white;
    font-weight: 900;
}

.input-box:focus,
.tet-box:focus {
    outline: none;
}


.submit-button {
    background-color: transparent;
    border: 0.5px solid rgb(119, 119, 119);
    margin: 10px;
    height: 40%;
    cursor: pointer;
    border-radius: 3px;
    color: white;
    font-weight: 900;
    border: 1px solid black;
}

.contact {
    height: 25%;
    width: 100%;
    border: 1px solid black;
    display: flex;
    align-items: center;
    font-size: larger;
}

.loading-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 40%;
    width: 40%;   
    background-color: rgb(187, 180, 180);
    border: 1px solid black;
    border-radius: 10px;
    place-content: center;
    display: none;
    z-index: 1;
}

.Send{
    position: absolute;
    font-size: x-large ;
}

.tickExplosion{
    animation: tickExplosion 0.5s ease-out forwards;
}

@keyframes tickExplosion {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    50% {
        opacity: 1;
        transform: scale(1.2);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@media (max-width: 600px) {
    .main-contact-container {
        margin-top: 50px;
        margin-left: 50px;
        height: calc(100dvh - 150px * 3);
    }

    .main-form-container {
        height: 100%;
        width: 80%;
        margin: 0 auto 0 auto;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
        position: relative;
    }
    .contact {
        height: 25%;
        width: 100%;
        border: 1px solid black;
        display: flex;
        align-items: center;
        font-size: small;
    }
}
@media (min-width: 550px) and (max-width: 850px)  {
    .main-contact-container {
        margin-left: 5px;
    }
}