.main-form-container {
    height: 100%;
    width: 500px;
    margin-left: 150px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    border: 1px solid black;
}

.form-container {
    display: flex;
    flex-direction: column;
    padding: 30px;
    height: 100%;
}

.input-box {
    margin: 10px;
    padding: 10px;
}

.tet-box {
    margin: 10px;
    height: 100%;
    padding: 10px;
}
.submit-button {
    background-color: transparent;
    border: 0.5px solid rgb(119, 119, 119);
    margin: 10px;
    height: 40%;
    cursor: pointer;
    border-radius: 3px;
}

.contact {
    height: 25%;
    width: 100%;
    border: 1px solid black;
    display: flex;
    align-items: center;
    font-size: larger;
}

@media (max-width: 600px) {
    .main-form-container {
        height: 65%;
        width: 80%;
        margin: 0 auto 0 auto;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
    }
    .contact {
        height: 25%;
        width: 100%;
        border: 1px solid black;
        display: flex;
        align-items: center;
        font-size: small;
    }
}
