.footer-container {
    width: 100vw;
    height: 150px;
    /* background-color: #D3D3D3; */
    position: fixed;
    bottom: 0;
    display: flex;
}
.image-container {
    width: 332px;
    height: 100%;
    background-color: #c0c0c0;
    position: relative;
    overflow: visible;
    pointer-events: none;
}

.main-dialogs-container {
    height: 100%;
    width: 100vw;
    background-color: #808080;
    padding: 20px;
    display: inline-block;
    cursor: pointer;
}

.myImg {
    position: absolute;
    z-index: 10;
    top: -50px; /* Adjust this value to get the desired 3D effect */
    left: 50%; /* Center horizontally */
    transform: translateX(-44%) translateY(-50%);
    height: 450px;
    width: 450px;
}

.dialogs-container {
    display: inline-block;
}

.dialogs {
    font-size: large;
    color: white;
    border-right: 2px solid white; /* Cursor-like effect */
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%; /* Full width to reveal all text */
    }
}

@media (max-width: 600px) {
    .myImg {
        position: absolute;
        z-index: 10;
        top: -50px; /* Adjust this value to get the desired 3D effect */
        left: 50%; /* Center horizontally */
        transform: translateX(-50%) translateY(-35%);
        height: 400px;
        width: 400px;
    }
    .dialogs{
        font-size: 15px;
    }
}
