.footer-container {
    width: 100vw;
    height: 150px;
    position: fixed;
    bottom: 0;
    display: flex;
}
.image-container {
    width: 332px;
    height: 100%;
    /* background-color: #c0c0c0; */
    position: relative;
    overflow: visible;
    pointer-events: none;
}

.main-dialogs-container {
    height: 100%;
    width: 100vw;
    padding: 20px;
    display: inline-block;
    cursor: pointer;
    
}

.myImg {
    position: absolute;
    z-index: 10;
    bottom: 0; 
    height: 400px;
    width: 280px;
    /* animation: glitch 500ms infinite linear; */
}

.fadeIn {
    animation: fadeIn 0.5s ease-in;
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeOut {
    animation: fadeOut 0.3s ease-out;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.dialogs-container {
    display: inline-block;
}

.dialogs {
    font-size: large;
    color: white;
    border-right: 2px solid white;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%; /* Full width to reveal all text */
    }
}

@media (max-width: 600px) {
    .myImg {
        position: absolute;
        z-index: 10;
        bottom: 0;
        height: 300px;
        width: 200px;
    }
    .dialogs {
        font-size: 15px;
        border-right: none;
    }
}
