.pattern-container1 {
    background-color: blue;
    background-image: 
        linear-gradient(90deg, rgb(87, 191, 226) 1px, transparent 1px),
        linear-gradient(90deg, lightblue 1px, transparent 1px),
        linear-gradient(0deg, lightblue 1px, transparent 1px),
        linear-gradient(0deg, lightblue 1px, transparent 1px);
    background-size: 2px 2px;
    background-position: 0px 0px, 10px 10px, 0px 0px, 10px 10px;
}

.pattern-container2 {
    background-color: blue;
    background-image: 
        linear-gradient(90deg, rgb(63, 173, 209) 1px, transparent 1px),
        linear-gradient(90deg, rgb(63, 173, 209) 1px, transparent 1px),
        linear-gradient(0deg, rgb(63, 173, 209) 1px, transparent 1px),
        linear-gradient(0deg, rgb(63, 173, 209) 1px, transparent 1px);
    background-size: 2px 2px;
    background-position: 0px 0px, 10px 10px, 0px 0px, 10px 10px;
}

.pattern-container3 {
    background-color: blue;
    background-image: 
        linear-gradient(90deg, rgb(42, 157, 196) 1px, transparent 1px),
        linear-gradient(90deg, rgb(42, 157, 196) 1px, transparent 1px),
        linear-gradient(0deg, rgb(42, 157, 196) 1px, transparent 1px),
        linear-gradient(0deg, rgb(42, 157, 196) 1px, transparent 1px);
    background-size: 2px 2px;
    background-position: 0px 0px, 10px 10px, 0px 0px, 10px 10px;
}