.projects-container {
    height: 230px;
    width: 100%;
    background-color: rgb(107, 106, 106);
    margin-left: 150px;
}

.main-about-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-x: hidden;
}

.project{
    height: 100%;
    width: 300px;
    border: 1px solid black;
    margin-left: 30px;
    margin-right: 30px;
    display: inline-block;
}


@media (max-width: 600px) {
    .projects-container {
        height: 230px;
        width: 100%;
        background-color: rgb(107, 106, 106);
        margin-left: 0;
    }
    
    .main-about-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow-x: hidden;
        margin: 10px;
        padding: 0;
    }
}
