.skills-container {
    position: absolute; 
    height: 350px;
    width: 350px;
    margin-left: 150px;
    border-radius: 50%;
    box-sizing: border-box;
    animation: spin 10s infinite linear;
}

.skill {
    position: absolute; /* Set to absolute */
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid black; */
    border-radius: 50%;
    height: 60px;
    width: 60px;
    box-sizing: border-box;
    animation: counter-spin 10s infinite linear;
}

.expand-container {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 2/4;
}

.percentage-container{
    height: 50px;
    width: 50px;
    background-color: red;
    position: absolute;
    animation: counter-spin 10s infinite linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@keyframes counter-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}

@media (max-width: 600px) {
    .main-about-container {
        margin-left: 0;
        height: 380px;
        background-color: gainsboro;
    }
    .skills-container {
        position: absolute; 
        height: 350px;
        width: 350px;
        margin-left: 40px;
        border-radius: 50%;
        box-sizing: border-box;
    }
}
